name: Image Publish (GHCR)

"on":
  push:
    branches: [main]
    tags: ["v*"]

env:
  GHCR_IMAGE: ghcr.io/nanashithenameless/namelessnamesanitizerbot

jobs:
  build-and-push-latest:
    name: Build and Push Latest
    if: github.ref == 'refs/heads/main' && github.ref_type == 'branch'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f

      - name: Log in to GHCR
        uses: docker/login-action@3227f5311cb93ffd14d13e65d8cc400d30f4dd8a
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051
        with:
          images: |
            ${{ env.GHCR_IMAGE }}
          flavor: |
            latest=true
          tags: |
            type=raw,value=latest
          labels: |
            org.opencontainers.image.licenses=https://nnsb.namelessnanashi.dev/license

      - name: Build and push Latest
        uses: docker/build-push-action@8c1e8f8e5bf845ba3773a14f3967965548a2341e
        with:
          context: .
          push: true
          provenance: mode=min
          platforms: linux/amd64,linux/arm64
          build-args: |
            NNSB_IMAGE_VERSION=latest
            NNSB_GIT_SHA=${{ github.sha }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  build-and-push-tag:
    name: Build and Push Tag
    if: github.ref_type == 'tag'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f

      - name: Log in to GHCR
        uses: docker/login-action@3227f5311cb93ffd14d13e65d8cc400d30f4dd8a
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051
        with:
          images: |
            ${{ env.GHCR_IMAGE }}
          flavor: |
            latest=false
          tags: |
            type=ref,event=tag
          labels: |
            org.opencontainers.image.licenses=https://nnsb.namelessnanashi.dev/license

      - name: Build and push Tag
        uses: docker/build-push-action@8c1e8f8e5bf845ba3773a14f3967965548a2341e
        with:
          context: .
          push: true
          provenance: mode=min
          platforms: linux/amd64,linux/arm64
          build-args: |
            NNSB_IMAGE_VERSION=${{ github.ref_name }}
            NNSB_GIT_SHA=${{ github.sha }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
